/**
 * @fileoverview MfwFormat 格式化组件样式
 */

.mfw-date-format {
  white-space: nowrap;
}

.mfw-image-format {
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;

  &-multi {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  &-item {
    cursor: pointer;
  }
}

.mfw-dict-format {
 &.el-tag{
  height: 20px;
  border-radius: 10px;
 }
}

.mfw-tag-format {
  display: inline-block;

  &.el-tag {
    cursor: default;
  }
}
