.mfw-user-picker {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid var(--el-border-color);
  border-radius: var(--el-border-radius-base);
  padding: 10px;
  box-sizing: border-box;

  &__search {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    .el-input {
      flex: 1;
      max-width: calc(100% - 46px);
    }
  }

  &__content {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--el-text-color-placeholder);
    padding: 10px 0;

    > div {
      line-height: 20px;
      font-size: 12px;
      padding: 5px 0;
    }

    &-tag {
      font-size: 14px;
    }

    &-helper {
      color: var(--el-text-color-secondary);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px 0;

    &-detail {
      flex: 1;
      margin-left: 10px;
    }

    &-name {
      font-size: 14px;
      font-weight: 600;
      color: var(--el-text-color-primary);
    }

    &-label {
      font-size: 12px;
      font-weight: normal;
      color: var(--el-text-color-secondary);
      margin-left: 5px;
    }

    &-phone {
      font-size: 12px;
      color: var(--el-text-color-secondary);
    }

    &-actions {
      display: flex;
      align-items: center;
      gap: 4px;
      .el-button+.el-button {
        margin-left: 0;
      }
    }
  }
}
