/**
 * @fileoverview MfwQuillEditor 样式
 */

.mfw-quill-editor {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  .mfw-quill-editor-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #fff;
    overflow: hidden;
    width: 100%;

    .ql-container {
      flex: 1;
      font-size: 14px;
      font-family: inherit;
    }

    .ql-editor {
      flex: 1;
      min-height: 100px;
      overflow-y: auto;
    }
  }
}
